<div id="content-left-wrapper">
  <div id="content-left">
    <div id="view-changes"></div>
    <div id="view-body"></div>
    <div id="data-editor"></div>
  </div>
</div>
<div id="content-right-wrapper">
  <div id="content-right">
    <div id="style-picker">
    </div>
    <div id="filters">
    </div>
    <a href="#" id="column-add">+ Add column</a>
  </div>
</div>
