<div id="header">
  <ul id="top-nav">
    <li><a href="/">Applications</a></li>
    <li><a href="/logout">Log out</a></li>
  </ul>
  <h1><%= name %></h1>
  <div id="navigation"></div>
</div>
<div id="content"></div>
